# Port server API
PORT=8787

# API Key untuk client / 9Router
API_KEY=freebuff-default-key

# URL Cloudflare Worker US Relay (pisahkan dengan koma jika multi-relay)
RELAY_URL=https://freebuff-relay-us.irvan-fbe.workers.dev/,https://freebuff-relay-us2.irvan-fbe.workers.dev/

# Lokasi folder JSON credentials (default: ./credentials)
FREEBUFF_CRED_DIR=./credentials

# Mode Debug (true / false)
FREEBUFF_DEBUG=false
